@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Headings */
.playfair {
  font-family: "Playfair Display", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Body fonts */
.inter {
  font-family: "Inter", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

@keyframes glow {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.animate-glow {
  animation: glow 3s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
